[submodule "backend"]
	path = backend
	url = https://github.com/henriquefac/plataforma-inteligencia-financeira.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/henriquefac/dashboard-plataforma-inteligencia-financeira.git
